async-generator
asyncio
attrs
base58
certifi
charset-normalizer
exceptiongroup
h11
idna
outcome
packaging
PySocks
PyNaCl
python-dotenv
requests
selenium
sniffio
sortedcontainers
tqdm
trio
trio-websocket
urllib3
webdriver-manager
wsproto
